    {{!-- 
    const hsSchema = new mongoose.Schema({
    name: String,
    startTime: Date,
    dupe: Boolean,
    value: Number,
    endTime: Date,
    guesses: Number,
}) --}}
    
    <div class="m-0 h-full max-w-full grid grid-flow-col auto-cols-max grid-cols-5 gap-3">
        {{#each output}}
        {{/each}}
        <div class="border m-3">
            <p>Mats Johansson</p>
            <p>name</p>
            <p>name</p>
            <p>name</p>
            <p>name</p>
        </div>
</div>