    <div class="m-0 h-full">
        {{#each hs}}
        <div>
            <p>{{this.name}}</p>
            <p>{{this.time}}</p>
            <p>{{this.lengthOfWord}}</p>
            <p>{{this.dupes}}</p>
        </div>
        {{/each}}
    <p>testar highscore</p>
    </div>